<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head('Главная страница админ панели')"></head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:include="fragments :: navbarTop"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div th:include="fragments :: navbarLeft"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="card-title">Компетентный орган (получатель)</p>
                                    </div>
                                    <div class="col-6 text-right mb-3">
                                        <a href="/competentOrganPoluchatel/add" class="btn btn-primary align-self-end">Добавить</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table id="users" class="display expandable-table" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Страна</th>
                                                    <th>Код</th>
                                                    <th>Код территориального подразделения</th>
                                                    <th>Область</th>
                                                    <th>Район</th>
                                                    <th>Адрес</th>
                                                    <th>Телефон</th>
                                                    <th>Факс</th>
                                                    <th>Email</th>
                                                    <th>Действия</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="competentOrganPoluchatel : ${competentOrganPoluchatels}">
                                                    <td th:text="${competentOrganPoluchatel.getCountry().getName()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getCode()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getCodeTerrPodrazdel()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getOblast()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getRayon()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getAddress()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getPhone()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getFax()}"></td>
                                                    <td th:text="${competentOrganPoluchatel.getEmail()}"></td>
                                                    <td>
                                                        <a th:href="${'/competentOrganPoluchatel/' + competentOrganPoluchatel.getId()}" class="btn btn-sm btn-primary">Изменить</a>
                                                        <a th:href="${'/competentOrganPoluchatel/delete/' + competentOrganPoluchatel.getId()}" class="btn btn-sm btn-danger">Удалить</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <div th:include="fragments :: footer"></div>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script th:src="@{/adminStyles/vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{/adminStyles/vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<script th:src="@{/adminStyles/js/dataTables.select.min.js}"></script>

<script th:src="@{/adminStyles/js/customDataTablesSettings.js}" type="application/javascript"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('#users').DataTable();
    } );
</script>

</body>

</html>

